
.movie-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto-fill(36%);
    gap: 0.01vw;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    min-height: 200px;
}

.genre-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto-fill(10%);
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    min-height: 20px;
}
.genre-carousel::-webkit-scrollbar {
    display: none
}
.movie-carousel::-webkit-scrollbar {
    display: none
}

.movie-card {
    position: relative;
    height: 250px;
    width: 150px;
    margin: 1rem;
    box-shadow: 7px 10px 10px -1px rgb(61, 90, 241, 0.16),
        -7px -10px 10px -3px rgba(14, 21, 58, 0.70);
    border-radius: 5px;
}
.genre {
    position: relative;
    height: 20px;
    width: 100px;
    margin: 0.5rem 0.25rem;
    box-shadow: 7px 10px 10px -1px rgb(61, 90, 241, 0.01),
        -7px -10px 10px -3px rgba(14, 21, 58, 0.01);
    border-radius: 5px;
}

.genre:hover {
    transform: scale(1.05)
}
.movie-card:hover {
    transform: scale(1.05)
}

.movie-card .poster {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
